body {
  background-color: #ffeaed;
}
/* Nav 1 */
.nav-container-1 {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: -1px;

  background: #5bbdc8;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}
.nav-items-1 li {
  list-style: none;
  margin-right: 100px;
}
.nav-items-1 li:nth-last-of-type(1) {
  margin-right: zero;
}
.nav-btn-container {
  position: absolute;
  left: 75.38%;
  right: 17.85%;
  top: 20.96%;
  bottom: 97.04%;

  background: #007582;
}
.searchbar {
  position: absolute;
  height: 25px;
  width: 500px;
  left: 39.38%;
  right: 17.85%;
  top: 45.96%;
  bottom: 57.04%;
}
.loginbutton {
  position: absolute;
  width: 114px;
  height: 52px;
  left: 1308px;
  top: 27px;

  background: #007582;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  width: 113px;
  height: 54px;
  left: 1322px;
  top: 29px;

  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  color: #5bbdc8;
}
/* Nav 2 */
.nav-container-2 {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 99px;

  background: #e12e4b;
}
nav {
  display: flex;
  align-items: center;
}
.random1 {
  margin-left: 70px;
}
nav ul li {
  list-style: none;
}
.nav-items-2 {
  text-decoration: none;
}
/* nav 3 */
.drinks {
  position: absolute;
  width: 172px;
  height: 53px;
  left: 78px;
  top: 162px;
  text-decoration: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  color: #740012;
}
.snacks {
  position: absolute;
  width: 172px;
  height: 53px;
  left: 253px;
  top: 162px;
  text-decoration: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  color: #740012;
}
.break {
  position: absolute;
  width: 172px;
  height: 53px;
  left: 428px;
  top: 162px;
  text-decoration: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  color: #740012;
}
.dish {
  position: absolute;
  width: 172px;
  height: 53px;
  left: 620px;
  top: 162px;
  text-decoration: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  color: #740012;
}
.des {
  position: absolute;
  width: 172px;
  height: 53px;
  left: 811px;
  top: 161px;
  text-decoration: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  color: #740012;
}
.ROTD {
  position: absolute;
  width: 279px;
  height: 86px;
  left: 1137px;
  top: 156px;

  background: #e12e4b;
  border-radius: 10px;
  position: absolute;
  width: 268px;
  height: 51px;
  left: 1143px;
  top: 161px;

  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  color: #740012;
}
.pink1 {
  position: absolute;
  width: 1453px;
  height: 50px;
  left: 0px;
  top: 613px;
}
.desc {
  position: absolute;
  width: 272px;
  height: 58px;
  left: 88px;
  top: 613px;

  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;

  color: #e12e4b;
}
.rotd {
  position: absolute;
  width: 998px;
  height: 124px;
  left: 78px;
  top: 369px;

  font-family: Playball;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 125px;
  text-align: center;

  color: #000000;
}
.stars {
  position: absolute;
  width: 431px;
  height: 319px;
  left: 915px;
  top: 274px;
}
.rect {
  position: absolute;
  width: 296.51px;
  height: 212.16px;
  left: 151.28px;
  top: 242.06px;
}
.inf {
  position: absolute;
  width: 1365px;
  height: 213px;
  left: 53px;
  top: 658px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: flex-end;

  color: #740012;
}
.cooktime {
  position: absolute;
  width: 272px;
  height: 58px;
  left: 39px;
  top: 858px;

  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;

  color: #e12e4b;
}
.cooktime1 {
  position: absolute;
  width: 434px;
  height: 50px;
  left: 333px;
  top: 849px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: flex-end;

  color: #740012;
}
.servings {
  position: absolute;
  width: 265px;
  height: 58px;
  left: 46px;
  top: 937px;

  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;

  color: #e12e4b;
}
.servings1 {
  position: absolute;
  width: 312px;
  height: 50px;
  left: 333px;
  top: 928px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: flex-end;

  color: #740012;
}
.kur {
  position: absolute;
  width: 928px;
  height: 522px;
  left: 256px;
  top: 1078px;

  background: url(Screenshot_2.png);
}
.pink2 {
  position: absolute;
  width: 1453px;
  height: 50px;
  left: 0px;
  top: 1784px;
}
.ingre {
  position: absolute;
  width: 272px;
  height: 58px;
  left: 95px;
  top: 1759px;

  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;

  color: #e12e4b;
}
.items {
  position: absolute;
  width: 603px;
  height: 492px;
  left: 45px;
  top: 1846px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: flex-end;

  color: #740012;
}
.recipe {
  position: absolute;
  width: 272px;
  height: 58px;
  left: 85px;
  top: 2369px;

  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;

  color: #e12e4b;
}
.pink3 {
  position: absolute;
  width: 1453px;
  height: 50px;
  left: 0px;
  top: 2399px;
}
.steps {
  position: absolute;
  width: 1293px;
  height: 388px;
  left: 31px;
  top: 2458px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;

  color: #740012;
}
.pink4 {
  position: absolute;
  width: 1453px;
  height: 50px;
  left: -13px;
  top: 2877px;
}
.rate {
  position: absolute;
  width: 168px;
  height: 19px;
  left: 364px;
  top: 2894px;
}
.texts {
  position: absolute;
  width: 272px;
  height: 58px;
  left: 55px;
  top: 2837px;

  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;

  color: #e12e4b;
}
.pink5 {
  position: absolute;
  width: 1453px;
  height: 50px;
  left: -13px;
  top: 2987px;
}
.review {
  position: absolute;
  width: 272px;
  height: 58px;
  left: 55px;
  top: 2957px;

  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;

  color: #e12e4b;
}
